<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutClient}">

<head>
    <title>Inicio Haven Glam</title>
</head>

<body>

<main layout:fragment="content">

    <section style="padding: 60px 20px; text-align: center;">

        <h1 style="font-family: 'Playfair Display', serif;
                       font-size: 2.5rem;
                       margin-bottom: 15px;">
            Bienvenido a Haven Glam
        </h1>

        <p style="color: #7A655E; font-size: 1.1rem;">
            Tu santuario personal de belleza y bienestar.
        </p>

    </section>

</main>

</body>
</html>